.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background: rgb(23, 114, 63);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.navbar a {
    position: relative;
    font-size: large;
    color: black;
    font-weight: 500;
    margin-left: 30px ;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}